.overlay{
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0,0,0,0.1);
  height: 100%;
  width: 100%;
  z-index: 1;
}

.drawer{
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 410px;
  height: 100%;
  right: 0;
  background: #fff;
  box-shadow: -10px 4px 24px rgba(0,0,0,0.1);
  padding: 20px;

  .cart-items{
    flex: 1;
    overflow: auto;
  }
}